<%= simple_form_for @movie do |f| %>
	<div class="title">
		<%= f.input :title %>
	</div>
	<div class="description">
		<%= f.input :description %>
	</div>
	<div class="director">
		<%= f.input :director %>
	</div>
	<div class="length">
		<%= f.input :length, label: "Length(min)" %>
	</div>
	<div class="image_file">
		<%= f.input :image, as: :file %>
	</div>

	<%= f.submit %>

<% end %>