<%= simple_form_for @movie do |f| %>
	<div class="category">	
	<%= f.collection_select :category_id, Category.all, :id, :name, { promt: "Choose a Category" } %>
	</div>
	<div class="title">
		<%= f.input :title %>
	</div>
	<div class="description">
		<%= f.input :description %>
	</div>
	<div class="director">
		<%= f.input :director %>
	</div>
	<div class="length">
		<%= f.input :length, label: "Length(min)" %>
	</div>
	<div class="image_file">
		<%= f.input :image, as: :file %>
	</div>

	<%= f.submit class: "btn btn-danger" %> 

<% end %>