<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Add Your Favorite Movies Information or Reviews</h1>
    <p>Sign up for 100% free! Come on!</p>
    <p><%= link_to "Sign Up Now", new_user_registration_path, class: "btn"  %></p>
  </div>
<% end %>
<div class="row">
	<% @movies.each do |movie| %>
		<div class="col-md-3 col-sm-3">
			<div class="box panel panel-default">
				<div class="image_wrapper">
	        <%= link_to (image_tag movie.image.url(:thumb), class: "movie_img"), movie %>
				</div>
        <h3><%= link_to movie.title, movie  %></h3>
				<div class="panel-footer clearfix">
					<div class="icon">
						<span><i class="fa fa-comment"></i> <%= movie.comments.size %></span>
						<span><i class="fa fa-heart"> <%= movie.get_upvotes.size %></i>
						</span>
					</div>
					<div class="star-rating" data-score= <%= render_avg_rating(movie) %> ></div>
				</div>
			</div>
		</div>
		
	<% end %>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
