<div class="panel panel-default">
  <div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag(@movie.image.url(:medium), class: "thumbnail") %>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>Title:</strong></td>
								<td><%= @movie.title %></td>
							</tr>
							<tr>
								<td><strong>Director:</strong></td>
								<td><%= @movie.director %></td>
							</tr>
							<tr>
								<td><strong>Length:</strong></td>
								<td><%= @movie.length %> min</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-8">
				<% if @movie.user = current_user %>			
					<div class="btn-group pull-right" role="group">
						<%= link_to edit_movie_path(@movie), class: "btn btn-default" do %>
						<i class="fa fa-pencil"></i>
						<% end %>
						<%= link_to like_movie_path(@movie), class: "btn btn-default", method: :post do  %>
							<i class="fa fa-heart"> <%= @movie.get_upvotes.size %></i>
						<% end %>
					</div>
				<% end %>
			<h2><%= @movie.title %></h2>
			<h6><em>Posted by <%= @movie.user.email %></em></h6>
			<p><%= youtube(@movie.description) %></p>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<%= render 'comments/form' %> <br>
		<%= render 'comments/comment' %>
	</div>
</div>





